<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>winston</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>themeFileIcon</string>
			<key>CFBundleTypeName</key>
			<string>Winston theme file</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>lo.cafe.winston.theme-file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Winston theme zip file</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>lo.cafe.winston</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>winstonapp</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAllowsArbitraryLoadsInWebContent</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Winston theme file</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>themeFileIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>lo.cafe.winston.theme-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>winston</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Uses FaceID to lock and unlock Winston</string>
</dict>
</plist>
