:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 10px;
    margin: 24px auto;

    font-family: system-ui;
    text-align: center;
}

img {
    margin-bottom: 16px;
}

p {
    margin-top: 8px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
